/* line 1, ../scss/grid-slider.scss */
.grid-slider {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  color: #fff;
  background-color: #fff;
  overflow: hidden;
  zoom: 1;
}

/* line 9, ../scss/grid-slider.scss */
.grid-slider img {
  max-width: none !important;
  max-height: none !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 16, ../scss/grid-slider.scss */
.gs-border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../scss/grid-slider.scss */
.gs-no-outer {
  border: 0 !important;
  padding: 0 !important;
}

/* line 25, ../scss/grid-slider.scss */
.gs-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* line 30, ../scss/grid-slider.scss */
.gs-main-panel {
  position: relative;
  border: 0 solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;
}

/* line 38, ../scss/grid-slider.scss */
.gs-slide-panel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* line 43, ../scss/grid-slider.scss */
.gs-left-blinder {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 0;
}

/* line 50, ../scss/grid-slider.scss */
.gs-right-blinder {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-size: 0;
}

/* line 57, ../scss/grid-slider.scss */
.gs-top-blinder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 0;
}

/* line 64, ../scss/grid-slider.scss */
.gs-bottom-blinder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0;
}

/* line 71, ../scss/grid-slider.scss */
.grid-slider > ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-backface-visibility: hidden;
}

/* line 81, ../scss/grid-slider.scss */
ul.gs-list {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 91, ../scss/grid-slider.scss */
li.gs-bin-item {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  border: 0 solid transparent;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 104, ../scss/grid-slider.scss */
ul.gs-bin-list {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 115, ../scss/grid-slider.scss */
.gs-content,
.gs-hover {
  display: none;
}

/* line 118, ../scss/grid-slider.scss */
li.gs-slide {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  min-width: 50px;
}

/* line 125, ../scss/grid-slider.scss */
.gs-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border: 0 solid #333;
  background: #fff;
  background: url(../assets/loader.gif) no-repeat center, url(../assets/loader-bg.png) no-repeat center, black;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 137, ../scss/grid-slider.scss */
.gs-slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 145, ../scss/grid-slider.scss */
div.gs-slide-content {
  background-color: #fff;
}

/* line 148, ../scss/grid-slider.scss */
img.gs-slide-content {
  width: auto;
  height: auto;
  border: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 156, ../scss/grid-slider.scss */
.gs-slide:hover .gs-zoom-in,
.gs-slide:hover .gs-zoom-out {
  -webkit-transition: -webkit-transform 5s;
  -moz-transition: -moz-transform 5s;
  -ms-transition: -ms-transform 5s;
  -o-transition: -o-transform 5s;
  transition: transform 5s;
}

/* line 164, ../scss/grid-slider.scss */
.gs-zoom-in,
.gs-slide:hover .gs-zoom-out {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* line 172, ../scss/grid-slider.scss */
.gs-zoom-out,
.gs-slide:hover .gs-zoom-in {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 179, ../scss/grid-slider.scss */
.gs-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/* line 188, ../scss/grid-slider.scss */
.gs-slide:hover .gs-overlay {
  filter: alpha(opacity=15);
  -moz-opacity: .15;
  opacity: .15;
}

/* line 193, ../scss/grid-slider.scss */
.gs-loaded .gs-wrapper {
  background-image: none;
}

/* line 196, ../scss/grid-slider.scss */
div.gs-bg-img {
  background-color: #fff;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
}

/* captions */
/* line 202, ../scss/grid-slider.scss */
.gs-caption {
  display: block;
  font-size: 14px;
  padding: 5px;
  line-height: normal;
  margin: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 213, ../scss/grid-slider.scss */
.gs-outside .gs-caption {
  position: relative;
  color: #fff;
  background-color: #fff;
  border: 5px solid transparent;
  padding: 0;
}

/* line 220, ../scss/grid-slider.scss */
.gs-inside .gs-caption {
  position: absolute;
  color: #fff;
  background: #fff;
  background: #fff;
  max-width: 100%;
  max-height: 100%;
  -webkit-backface-visibility: hidden;
}

/* line 229, ../scss/grid-slider.scss */
.gs-slide-up {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* line 236, ../scss/grid-slider.scss */
.gs-slide-down {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}

/* line 243, ../scss/grid-slider.scss */
.gs-slide-right {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

/* line 250, ../scss/grid-slider.scss */
.gs-slide-left {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

/* line 257, ../scss/grid-slider.scss */
.gs-caption-wrapper {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* small buttons */
/* line 265, ../scss/grid-slider.scss */
.gs-button-tray {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px 5px 5px 0;
}

/* line 272, ../scss/grid-slider.scss */
.gs-opacity-off {
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
}

/* line 277, ../scss/grid-slider.scss */
.gs-overlay-button {
  display: block;
  position: relative;
  float: left;
  width: 22px;
  height: 22px;
  margin-left: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  background: -moz-linear-gradient(top, #555555 0%, #333333 100%);
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#555555), to(#333333));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#333333',GradientType=0);
  cursor: pointer;
}

/* line 293, ../scss/grid-slider.scss */
.gs-overlay-button div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  margin-left: -7px;
  font-size: 0;
  background-image: url(../assets/gslider-buttons.png);
  background-repeat: no-repeat;
}

/* line 305, ../scss/grid-slider.scss */
.gs-caption-button div {
  background-position: 0 0;
}

/* line 308, ../scss/grid-slider.scss */
.gs-caption-off div {
  background-position: -14px 0;
}

/* line 311, ../scss/grid-slider.scss */
.gs-panel-button div {
  background-position: -28px 0;
}

/* line 314, ../scss/grid-slider.scss */
.gs-zoom-button div {
  background-position: -42px 0;
}

/* line 317, ../scss/grid-slider.scss */
.gs-link-button div {
  background-position: -56px 0;
}

/* line 320, ../scss/grid-slider.scss */
.gs-hoverbox-button div {
  background-position: -80px 0;
}

/* nav buttons */
/* line 326, ../scss/grid-slider.scss */
.gs-prev,
.gs-next {
  position: absolute;
  top: 0;
  width: 35px;
  height: 100%;
  cursor: pointer;
}

/* line 335, ../scss/grid-slider.scss */
.gs-prev div,
.gs-next div,
.gs-small-button div {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0;
  background-image: url(../assets/gslider-assets.png);
  background-repeat: no-repeat;
  -moz-opacity: 0.75;
  opacity: 0.75;
}

/* line 346, ../scss/grid-slider.scss */
.gs-prev div,
.gs-next div {
  width: 16px;
  height: 30px;
  margin-top: -15px;
  margin-left: -8px;
}

/* line 352, ../scss/grid-slider.scss */
.gs-prev div {
  background-position: 0 0;
}

/* line 355, ../scss/grid-slider.scss */
.gs-next div {
  background-position: 0 -30px;
}

/* line 358, ../scss/grid-slider.scss */
.gs-disabled {
  cursor: default !important;
}

/* line 362, ../scss/grid-slider.scss */
.gs-prev.gs-disabled div,
.gs-next.gs-disabled div {
  display: none;
}

/* mouseover buttons */
/* line 368, ../scss/grid-slider.scss */
.gs-hover-prev,
.gs-hover-next {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  width: 36px;
  height: 36px;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
}

/* line 384, ../scss/grid-slider.scss */
.gs-hover-prev {
  left: 8px;
}

/* line 387, ../scss/grid-slider.scss */
.gs-hover-next {
  right: 8px;
}

/* line 391, ../scss/grid-slider.scss */
.gs-hover-prev div,
.gs-hover-next div {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0;
  background-image: url(../assets/gslider-assets.png);
  background-repeat: no-repeat;
  width: 12px;
  height: 20px;
  margin-top: -10px;
  margin-left: -6px;
}

/* line 403, ../scss/grid-slider.scss */
.gs-hover-prev div {
  background-position: -16px 0;
}

/* line 406, ../scss/grid-slider.scss */
.gs-hover-next div {
  background-position: -16px -20px;
}

/* line 410, ../scss/grid-slider.scss */
.gs-hover-prev.gs-disabled,
.gs-hover-next.gs-disabled {
  display: none !important;
}

/* line 414, ../scss/grid-slider.scss */
.gs-hover-prev:hover,
.gs-hover-next:hover {
  background: #fff;
}

/* controls */
/* line 419, ../scss/grid-slider.scss */
.gs-header,
.gs-control {
  position: relative;
  width: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 solid transparent;
}

/* line 428, ../scss/grid-slider.scss */
.gs-header {
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  padding: 0 15px;
  color: #fff;
  background: #222;
  background: -moz-linear-gradient(top, #333333 0%, #111111 100%);
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#333333), to(#111111));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#111111',GradientType=0);
}

/* line 443, ../scss/grid-slider.scss */
.gs-timer-box {
  position: relative;
  width: 100%;
  height: 2px;
  font-size: 0;
  background: #f1f1f1;
}

/* line 450, ../scss/grid-slider.scss */
.gs-timer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ccc;
}

/* line 458, ../scss/grid-slider.scss */
.gs-sub-control {
  position: absolute;
  right: 0;
}

/* line 462, ../scss/grid-slider.scss */
.gs-page-info {
  position: relative;
  float: right;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  white-space: nowrap;
}

/* line 471, ../scss/grid-slider.scss */
.gs-small-button {
  position: relative;
  float: right;
  width: 22px;
  height: 24px;
  margin: 3px 0;
  cursor: pointer;
}

/* line 479, ../scss/grid-slider.scss */
.gs-small-button div {
  width: 10px;
  height: 12px;
  margin-top: -6px;
  margin-left: -5px;
}

/* line 485, ../scss/grid-slider.scss */
.gs-play-button div {
  background-position: -20px -60px;
}

/* line 488, ../scss/grid-slider.scss */
.gs-pause div {
  background-position: -20px -48px;
}

/* line 491, ../scss/grid-slider.scss */
.gs-small-prev div {
  background-position: 0 -60px;
}

/* line 494, ../scss/grid-slider.scss */
.gs-small-next div {
  background-position: -10px -60px;
}

/* line 497, ../scss/grid-slider.scss */
.gs-small-button.gs-disabled div {
  filter: alpha(opacity=25);
  -moz-opacity: 0.25;
  opacity: 0.25;
}

/* nav thumbs */
/* line 505, ../scss/grid-slider.scss */
ul.gs-nav,
ul.gs-nav-number {
  position: relative;
  display: block;
  height: 30px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

/* line 513, ../scss/grid-slider.scss */
.gs-nav li {
  position: relative;
  display: inline;
  float: left;
  font-size: 0;
  width: 8px;
  height: 8px;
  padding: 0;
  margin: 10px 6px;
  border: 1px solid #333;
  background-color: #fff;
  cursor: pointer;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 529, ../scss/grid-slider.scss */
ul.gs-nav li:hover {
  background-color: #fff;
}

/* line 532, ../scss/grid-slider.scss */
ul.gs-nav li.gs-active {
  background-color: #fff;
  cursor: default;
}

/* line 536, ../scss/grid-slider.scss */
.gs-nav-number li {
  position: relative;
  display: inline;
  float: left;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0 10px;
  color: #09f;
  cursor: pointer;
}

/* line 548, ../scss/grid-slider.scss */
.gs-nav-number li:hover {
  text-decoration: underline;
}

/* line 551, ../scss/grid-slider.scss */
.gs-nav-number li.gs-active {
  color: #fff;
  text-decoration: none;
  cursor: default;
}

/* menu */
/* line 557, ../scss/grid-slider.scss */
.gs-menu {
  position: relative;
  width: 100%;
  height: 30px;
  background: #fff;
  background: -moz-linear-gradient(top, #666666 0%, #444444 100%);
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#666666), to(#444444));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#444444',GradientType=0);
  border: 0 solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

/* line 571, ../scss/grid-slider.scss */
ul.gs-menu-list {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 579, ../scss/grid-slider.scss */
li.gs-menu-item {
  position: relative;
  display: inline;
  float: left;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  padding: 0 15px;
  margin: 0;
  border-right: 1px solid #333;
  font-size: 15px;
  color: #eee;
  cursor: pointer;
}

/* line 593, ../scss/grid-slider.scss */
.gs-menu-item:hover {
  color: #09f;
  background: #444;
  background: -moz-linear-gradient(top, #555555 0%, #333333 100%);
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#555555), to(#333333));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#333333',GradientType=0);
}

/* line 601, ../scss/grid-slider.scss */
.gs-menu-active,
.gs-menu-active:hover {
  color: #fff;
  background: #fff;
  background: -moz-linear-gradient(top, #333333 0%, #111111 100%);
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#333333), to(#111111));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#111111',GradientType=0);
  cursor: default;
}

/* misc. */
/* line 613, ../scss/grid-slider.scss */
.gs-overlay-button,
.gs-hover-prev,
.gs-hover-next {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/* line 620, ../scss/grid-slider.scss */
.gs-overlay-button:hover,
.gs-hover-prev:hover,
.gs-hover-next:hover {
  -webkit-box-shadow: 0 0 3px #000;
  -moz-box-shadow: 0 0 3px #000;
  box-shadow: 0 0 3px #000;
}

/* line 626, ../scss/grid-slider.scss */
.gs-slide-panel:hover .gs-css-hover,
.gs-wrapper:hover .gs-button-tray {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}

/* line 633, ../scss/grid-slider.scss */
.gs-prev:hover div,
.gs-next:hover div,
.gs-small-button:hover div {
  -moz-opacity: 1;
  opacity: 1;
}

/* hover box */
/* line 638, ../scss/grid-slider.scss */
.gs-hover-box {
  display: none;
  position: absolute;
  padding: 6px;
  z-index: 999999;
  overflow: hidden;
  zoom: 1;
}

/* line 647, ../scss/grid-slider.scss */
.gs-hover-content,
.gs-hover-bg {
  position: relative;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff;
  width: 250px;
  min-width: 50px;
  min-height: 50px;
  border: 10px solid #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

/* line 664, ../scss/grid-slider.scss */
.gs-hover-bg {
  position: absolute;
  margin-top: 6px;
  z-index: 0;
}

/* line 669, ../scss/grid-slider.scss */
.gs-hover-bg.gs-loading {
  background: white url(../assets/content-loader.gif) no-repeat center;
}

/* line 672, ../scss/grid-slider.scss */
.gs-hover-arrow {
  position: absolute;
  width: 18px;
  height: 32px;
  margin: 15px 0;
  font-size: 0;
  background-image: url(../assets/gslider-assets.png);
  background-repeat: no-repeat;
}

/* line 681, ../scss/grid-slider.scss */
.gs-left-shadow-arrow {
  left: 0;
  background-position: -31px 0;
}

/* line 685, ../scss/grid-slider.scss */
.gs-right-shadow-arrow {
  right: 0;
  background-position: -49px 0;
}

/* line 689, ../scss/grid-slider.scss */
.gs-left-arrow {
  left: 0;
  background-position: -31px -34px;
}

/* line 693, ../scss/grid-slider.scss */
.gs-right-arrow {
  right: 0;
  background-position: -49px -34px;
}

/* line 697, ../scss/grid-slider.scss */
.gs-hover-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  margin: 8px 8px 0 0;
  background-color: #666;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
}

/* line 713, ../scss/grid-slider.scss */
.gs-hover-close-left {
  margin-right: 19px;
}

/* line 716, ../scss/grid-slider.scss */
.gs-hover-close:hover {
  background-color: #000;
}

/* line 719, ../scss/grid-slider.scss */
.gs-hover-box:hover .gs-hover-close {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}

/* content panel */
/* line 725, ../scss/grid-slider.scss */
.gs-panel {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

/* line 732, ../scss/grid-slider.scss */
.gs-overlay-panel {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
}

/* line 738, ../scss/grid-slider.scss */
.gs-panel-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #444;
  background: -moz-linear-gradient(top, #555555 0%, #333333 100%);
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#555555), to(#333333));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#333333',GradientType=0);
}

/* line 749, ../scss/grid-slider.scss */
.gs-panel-title {
  display: block;
  color: #fff;
  width: 75%;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 762, ../scss/grid-slider.scss */
.gs-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  margin: 4px;
  cursor: pointer;
  background-color: #666;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 776, ../scss/grid-slider.scss */
.gs-close-button div,
.gs-hover-close div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  margin-left: -5px;
  font-size: 0;
  background: url(../assets/gslider-buttons.png) no-repeat -70px 0;
}

/* line 787, ../scss/grid-slider.scss */
.gs-close-button:hover {
  background-color: #000;
}

/* line 790, ../scss/grid-slider.scss */
.gs-panel-container {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 8px;
  border-top-width: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 803, ../scss/grid-slider.scss */
.gs-inner-content {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow: auto;
}

/* line 811, ../scss/grid-slider.scss */
.gs-full-panel .gs-panel-container {
  top: 0;
}

/* line 814, ../scss/grid-slider.scss */
.gs-full-panel .gs-panel-bar {
  background: #000;
  background: rgba(0, 0, 0, 0.65);
}

/* line 819, ../scss/grid-slider.scss */
.gs-panel-error {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 827, ../scss/grid-slider.scss */
.gs-panel-error p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* line 832, ../scss/grid-slider.scss */
.gs-inner-content.gs-loading {
  background: url(../assets/content-loader.gif) no-repeat center, url(../assets/content-loader-bg.png) no-repeat center;
}

/* line 835, ../scss/grid-slider.scss */
.gs-panel-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
}

/* line 841, ../scss/grid-slider.scss */
.gs-horizontal-wrapper {
  width: 200%;
  height: 100%;
}

/* line 846, ../scss/grid-slider.scss */
.gs-horizontal-wrapper .gs-main-panel,
.gs-horizontal-wrapper .gs-panel {
  float: left;
  width: 50%;
}

/* line 850, ../scss/grid-slider.scss */
.gs-vertical-wrapper {
  width: 100%;
  height: 200%;
}

/* line 854, ../scss/grid-slider.scss */
.gs-vertical-wrapper .gs-panel {
  height: 50%;
}

/* line 857, ../scss/grid-slider.scss */
.gs-panel-right {
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
}

/* line 864, ../scss/grid-slider.scss */
.gs-panel-left {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 871, ../scss/grid-slider.scss */
.gs-panel-up {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 878, ../scss/grid-slider.scss */
.gs-panel-down {
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
}

/* line 885, ../scss/grid-slider.scss */
.gs-all-transition {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 892, ../scss/grid-slider.scss */
.gs-opacity-transition {
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

/* line 899, ../scss/grid-slider.scss */
.gs-color-transition {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

/* line 906, ../scss/grid-slider.scss */
.gs-bgcolor-transition {
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -ms-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

/* line 913, ../scss/grid-slider.scss */
.gs-transform-transition {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -ms-transition: -ms-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
}

/* line 920, ../scss/grid-slider.scss */
.gs-img-transition {
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  -moz-transition: -moz-transform 0.4s, opacity 0.4s;
  -ms-transition: -ms-transform 0.4s, opacity 0.4s;
  -o-transition: -o-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}
