@font-face {
  font-family: 'bebas_neueregular';
  src: url("BebasNeue-webfont.eot");
  src: url("BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("BebasNeue-webfont.woff") format("woff"), url("BebasNeue-webfont.ttf") format("truetype"), url("BebasNeue-webfont.svg#bebas_neueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 19, ../scss/index.scss */
div#logo {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 100px;
}

/* line 26, ../scss/index.scss */
div#webdesign {
  padding-bottom: 100px;
}
/* line 29, ../scss/index.scss */
div#webdesign h1 {
  display: block;
  position: relative;
  top: 50%;
  margin-top: 10%;
}
/* line 37, ../scss/index.scss */
div#webdesign li a {
  font-color: #dd0c20 !important;
}
/* line 41, ../scss/index.scss */
div#webdesign #slider1 {
  display: block;
  position: relative;
}

/* line 55, ../scss/index.scss */
div#mobiledesign {
  padding-top: 10px;
  padding-bottom: 100px;
}
/* line 60, ../scss/index.scss */
div#mobiledesign h1 {
  color: #e08415;
  display: block;
  position: relative;
  top: 50%;
  margin-top: 10%;
}
/* line 71, ../scss/index.scss */
div#mobiledesign #slider2 {
  display: block;
  position: relative;
}

/* line 80, ../scss/index.scss */
div#mobiledesign_small {
  padding-top: 50px;
}
/* line 83, ../scss/index.scss */
div#mobiledesign_small h1 {
  color: #e08415;
}

/* line 92, ../scss/index.scss */
div#flashanimation h1 {
  color: #e85462;
  display: block;
  position: relative;
  top: 50%;
  margin-top: 10%;
  letter-spacing: -5px;
  font-size: 105px;
}
/* line 103, ../scss/index.scss */
div#flashanimation p {
  margin-right: -20px;
}

/* line 110, ../scss/index.scss */
div#flashanimation_small {
  padding-top: 50px;
}
/* line 113, ../scss/index.scss */
div#flashanimation_small h1 {
  color: #e85462;
}

/* line 119, ../scss/index.scss */
.logosmall {
  padding-top: 10px;
  padding-bottom: 50px;
}

/* line 124, ../scss/index.scss */
div#contact {
  padding-top: 90px;
}

/* line 131, ../scss/index.scss */
div#myModal {
  max-height: 500px;
}

/* line 141, ../scss/index.scss */
div#contact_small h2 {
  padding-top: 30px;
  font-size: 40px;
}

/*////////////////////MEDIUM/////////////*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 158, ../scss/index.scss */
  div#webdesign h1 {
    font-size: 95px;
    letter-spacing: -3px;
  }

  /* line 167, ../scss/index.scss */
  div#mobiledesign h1 {
    font-size: 95px;
    letter-spacing: -3px;
  }

  /* line 179, ../scss/index.scss */
  div#flashanimation h1 {
    letter-spacing: -4px;
    font-size: 70px;
    margin-right: 20px;
  }
  /* line 186, ../scss/index.scss */
  div#flashanimation p {
    min-width: 130px;
    max-width: 230px;
  }
  /* line 192, ../scss/index.scss */
  div#flashanimation video {
    margin-left: 0px;
  }
}
